<div>

 <h1>{{home.test}}</h1>


    <div class="home">
        <div class="home-header">
            <div class="home-header__label">Notes</div>
            <div class="home-header__counter" ng-bind="home.counter()"></div>
            <div class="home-header__counter-label">characters left</div>
        </div>
        <textarea class="home__textarea" ng-model="home.model"></textarea>
        <div class="home__indicator" ng-bind="home.indicator"></div>
        <button class="home__button" ng-click="home.save()">Zapisz</button>
        
    </div>

</div>
